In [0]:
import tensorflow as tf

# 影評資料集
dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 2s 0us/step

### IMDB 影評情緒分析
> 以前的做法: CNN + MLP 語意情緒特徵的萃取

> 現在: embedding + MLP

> NLP 第一層一定是語意層

> Embedding (語意層) 語意特徵維度減少

> ex: 我喜歡你,做分詞後->我 喜歡 你 3個 Input ;分別丟進語意層;  
> 你->語意層->(1,3,4.....2) 產生64個情緒評分, 評分的數量由問題難易or主題決定
> 評分攤開後,有3*64個=192 進入MLP

> RNN or LSTM -> 字詞順序有差的時候才需要用(做影評就不太需要)

In [0]:
import os
import glob
import pandas as pd

def read(fp):
    with open(fp, "r", encoding="utf-8") as f:
        content = f.read()
    return content

def read_data(base):
    pos = glob.glob(os.path.join(base, "pos", "*"))
    neg = glob.glob(os.path.join(base, "neg", "*"))
    df = pd.DataFrame({
        "path":(neg + pos),
        "target":([0]*len(neg) + [1] * len(pos))
    })
    df["content"] = df["path"].apply(read)
    return df

In [0]:
dirname = os.path.dirname(dataset)
base = os.path.join(dirname, "aclImdb", "train")
train_df = read_data(base)
base = os.path.join(dirname, "aclImdb", "test")
test_df = read_data(base)
test_df

                                                    path  ...                                            content
0      /root/.keras/datasets/aclImdb/test/neg/9801_2.txt  ...  In the 1940s, Veronica Lake made a meteoric ri...
1      /root/.keras/datasets/aclImdb/test/neg/6813_2.txt  ...  After reading the reviews I decided to rent th...
2      /root/.keras/datasets/aclImdb/test/neg/3265_1.txt  ...  This movie is so God-awful that it was literal...
3      /root/.keras/datasets/aclImdb/test/neg/7386_4.txt  ...  Even though this is the first film by the brok...
4      /root/.keras/datasets/aclImdb/test/neg/3918_1.txt  ...  I must admit that this is one of the worst mov...
...                                                  ...  ...                                                ...
24995  /root/.keras/datasets/aclImdb/test/pos/6384_10...  ...  I saw this movie at a screener and its the bes...
24996  /root/.keras/datasets/aclImdb/test/pos/9051_8.txt  ...  This 60min film shows just how much fun filmma...
24997  /root/.keras/datasets/aclImdb/test/pos/3995_9.txt  ...  It is not surprising that this film was made b...
24998  /root/.keras/datasets/aclImdb/test/pos/12320_1...  ...  The last film of John Huston, the great Americ...
24999  /root/.keras/datasets/aclImdb/test/pos/6083_10...  ...  I watched this movie when it was released and ...

[25000 rows x 3 columns]

In [0]:
# 1.預處理的第一步 先把文字化成數字(tokenize) -> 單詞化為數字才能進入模型
from tensorflow.keras.preprocessing.text import Tokenizer
# 出現太少的詞, 選擇不看, 只留出現次數最高的2000個
tok = Tokenizer(num_words=2000)
tok.fit_on_texts(train_df["content"])

In [0]:
# 想要看每個單詞的編號: tok.word_index

88582

In [0]:
x_train_seq = tok.texts_to_sequences(train_df["content"]) # 本函数将一个句子拆分成单词构成的列表
x_test_seq = tok.texts_to_sequences(test_df["content"])

# ex: I eat an apple -> [2, 800, 3, NaN] NaN 如果不再設定的常用詞裡

pd.DataFrame(x_train_seq) # 25000 rows(train 欄位評論數) × 1711 columns(詞數)

       0     1     2     3     4     5     ...  1705  1706  1707  1708  1709  1710
0        10   329     1   664    15     1  ...   NaN   NaN   NaN   NaN   NaN   NaN
1      1260    66     3    49   323  1983  ...   NaN   NaN   NaN   NaN   NaN   NaN
2        39   325     8   628    13     3  ...   NaN   NaN   NaN   NaN   NaN   NaN
3         8    48   465    37     1   204  ...   NaN   NaN   NaN   NaN   NaN   NaN
4        35     9   514    16     3   304  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995    51    11    17    35    70  1529  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996   721     1   318   455   362   113  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997     3   193    55   594     8     3  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998    40   156    24    84   807   259  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999    10    40   293    11    17    15  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1711 columns]

In [0]:
"""截長補短"""
# pad_sequences(sequences, maxlen=None, dtype='int32',
#     padding='pre', truncating='pre', value=0.)
# 参数
# sequences：浮点数或整数构成的两层嵌套列表
# maxlen：None或整数，为序列的最大长度。大于此长度的序列将被截短，小于此长度的序列将在后部填0.
# dtype：返回的numpy array的数据类型
# padding：‘pre’或‘post’，确定当需要补0时，在序列的起始还是结尾补
# truncating：‘pre’或‘post’，确定当需要截断序列时，从起始还是结尾截断
# value：浮点数，此值将在填充时代替默认的填充值0

from tensorflow.keras.preprocessing.sequence import pad_sequences
x_train_pad = pad_sequences(x_train_seq, maxlen=256)
x_test_pad = pad_sequences(x_test_seq, maxlen=256)
pd.DataFrame(x_train_pad) # 25000 rows × 256 columns 長度統一成256(詞數)

       0    1    2    3    4    5    ...   250   251   252   253  254   255
0        0    0    0    0    0    0  ...     1   307     3   386   55     6
1        0    0    0    0    0    0  ...    92   171    40   103   11    15
2        0    0    0    0    0    0  ...    10    59   178     5   64   171
3        0    0    0    0    0    0  ...    35   108    81    76    8   359
4        0    0    0    0    0    0  ...  1095     8    11    19    9     6
...    ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...  ...   ...
24995    0    0    0    0    0    0  ...   156    18  1707   112   37    11
24996    0    0    0    0    0    0  ...  1628     9   829    29    1    93
24997  744    4    1  474   26  884  ...     7  1239    15     1  433     3
24998    7    8   11   93    1   12  ...    30     1   127  1617    6    44
24999    0    0    0    0    0    0  ...     2    84   220  1232    2  1297

[25000 rows x 256 columns]

In [0]:
# 想要看每個單詞給的編號
# tok.word_index

# keras.layers.Embedding(input_dim, output_dim, embeddings_initializer='uniform', embeddings_regularizer=None, activity_regularizer=None, embeddings_constraint=None, mask_zero=False, input_length=None)
# input_dim: int > 0。词汇表大小， 即，最大整数 index + 1。
# output_dim: int >= 0。词向量的维度。
# embeddings_initializer: embeddings 矩阵的初始化方法 (详见 initializers)。
# embeddings_regularizer: embeddings matrix 的正则化方法 (详见 regularizer)。
# embeddings_constraint: embeddings matrix 的约束函数 (详见 constraints)。
# mask_zero: 是否把 0 看作为一个应该被遮蔽的特殊的 "padding" 值。 这对于可变长的 循环神经网络层 十分有用。 如果设定为 True，那么接下来的所有层都必须支持 masking，否则就会抛出异常。 如果 mask_zero 为 True，作为结果，索引 0 就不能被用于词汇表中 （input_dim 应该与 vocabulary + 1 大小相同）。
# input_length: 输入序列的长度，当它是固定的时。 如果你需要连接 Flatten 和 Dense 层，则这个参数是必须的 （没有它，dense 层的输出尺寸就无法计算）。

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding
from tensorflow.keras.layers import Flatten, Dropout, Dense

layers = [ # 2001 input *64(情緒) = 128064
          Embedding(2001, 64, mask_zero=True, input_length=256), # 2000+1個padding 次數最高的單字(輸入), 256 個詞典(模型)
          Flatten(),
          Dense(256, activation="relu"),
          Dropout(0.25),
          Dense(2, activation="softmax")
]
model = Sequential(layers)
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 256, 64)           128064
_________________________________________________________________
flatten_1 (Flatten)          (None, 16384)             0
_________________________________________________________________
dense (Dense)                (None, 256)               4194560
_________________________________________________________________
dropout (Dropout)            (None, 256)               0
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 514
=================================================================
Total params: 4,323,138
Trainable params: 4,323,138
Non-trainable params: 0
_________________________________________________________________

In [0]:
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
import numpy as np
callbacks = [
    EarlyStopping(patience=3, restore_best_weights=True)
]
model.fit(x_train_pad,
          np.array(train_df["target"]),
          batch_size=200,
          epochs=100,
          validation_split=0.1,
          verbose=2,
          callbacks=callbacks) # 有 callbacks 可以在設定的條件下自動停止

Epoch 1/100
113/113 - 16s - loss: 0.5010 - accuracy: 0.7318 - val_loss: 0.3796 - val_accuracy: 0.8504
Epoch 2/100
113/113 - 16s - loss: 0.1931 - accuracy: 0.9264 - val_loss: 0.3102 - val_accuracy: 0.8820
Epoch 3/100
113/113 - 16s - loss: 0.0607 - accuracy: 0.9831 - val_loss: 0.9160 - val_accuracy: 0.7372
Epoch 4/100
113/113 - 16s - loss: 0.0134 - accuracy: 0.9981 - val_loss: 0.7044 - val_accuracy: 0.8228
Epoch 5/100
113/113 - 16s - loss: 0.0031 - accuracy: 0.9998 - val_loss: 0.6761 - val_accuracy: 0.8412

In [0]:
model.evaluate(x_test_pad, np.array(test_df["target"]))

782/782 [==============================] - 7s 9ms/step - loss: 0.3573 - accuracy: 0.8509

[0.3572956621646881, 0.8508800268173218]

In [35]:
model.layers[0]

In [36]:
layers = [
          Embedding(2001, 64, mask_zero=64)
]
embedding = Sequential(layers) # 語意可以不用重新訓練(embedding 層): 遷移學習
w = model.layers[0].get_weights()
embedding.set_weights(w) # 設定已經訓練過的權重
# 這邊可以加入新訓練的 Dense...etc.
embedding.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, None, 64)          128064
=================================================================
Total params: 128,064
Trainable params: 128,064
Non-trainable params: 0
_________________________________________________________________

In [37]:
embedding.predict([[1]]) # The 的 64個情緒

array([[[ 0.01779993, -0.00826248, -0.01198977, -0.03674952,
         -0.01185733, -0.04409087, -0.03314903,  0.00919799,
          0.00058909,  0.00628667, -0.02083381,  0.0059434 ,
         -0.00081964, -0.00566083, -0.0127321 ,  0.02633849,
         -0.00648411, -0.01206047,  0.03641383,  0.00991517,
         -0.03429615,  0.01041209,  0.03398866, -0.03811784,
          0.04273167, -0.01402365, -0.04139612,  0.00325004,
         -0.03077715, -0.00142347,  0.01412037, -0.00191487,
          0.00727881, -0.03391201, -0.02239256,  0.03077674,
          0.02129694,  0.05106503, -0.00886427,  0.00618896,
         -0.02079086, -0.0034897 , -0.00301403, -0.01813391,
         -0.03112431,  0.00336721,  0.00392396,  0.01079513,
          0.0070142 , -0.03916292,  0.0092678 ,  0.02932152,
         -0.02971835, -0.03620654, -0.01561301, -0.00823221,
          0.00373489, -0.00511403, -0.01259295, -0.00386647,
          0.01430644,  0.00874646, -0.0287013 , -0.02737443]]],
      dtype=float32)